.child-1{
  background-color: orange;
  // width: 400px;
  // height: 400px;
  }
  .child-2{
  background-color: yellow;
  // width: 400px;
  // height: 400px;
  }
  .child-3{
  background-color: green;
  // width: 400px;
  // height: 400px;
  }

  .container{
    margin: 15px;
    height:200px;
    border:2px solid red;
   }

   .child-11{
    background-color: orange;
   }

.child-22{
    background-color: yellow;
  }

.child-33{
    background-color: green;
  }

.container2{
     margin: 15px;
     height:200px;
     width:500px;
     border:2px solid red;
  }
